.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 90%;
}

.invalid {
  border-color: red;
  background: #fce4e4;
}

.error {
  color: red;
}

label {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}
