.user-profile-dropdown {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 80%;
}

.dropdown-content {
  margin-top: -110px;
  z-index: 1;
  display: grid;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  background-color: white;
  height: 100px;
  box-shadow: 5px -1px 10px #d2d2d2, -5px 1px 10px #d2d2d2;
}

.dropdown-item-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  border: 0px;
}
.dropdown-toggle {
  background-color: white;
  border: 0px;
}

.dropdown-item-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item-button:hover {
  background-color: var(--niceGray);
  cursor: pointer;
}

.dropdown-item-text {
  font-weight: 600;
}
