.mini_profile {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mini_profile__image {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.mini_profile__unfriend,
.mini_profile__block {
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.mini_profile__unfriend:hover,
.mini_profile__block:hover {
  cursor: pointer;
  background-color: darkred;
}

.mini_profile__options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
}
